.Header-main-container{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.header-option-container{
    display: flex;
    
    width: 50%;
    justify-content: space-between;
}
.cart-container{
    display: flex;
    
    margin-right: 30px;
    justify-content: space-between;
    width: 8%;
    align-items: center;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pr{
    background: black;
}
.p{
    width: 100px;
}

.logo{
    margin-left: 30px;
}